# Python / Django
__pycache__/
*.pyc
*.pyo
*.log

# venv
detox-env/
.venv/
venv/

# Django local stuff
db.sqlite3
*.sqlite3

# Env / secrets
.env
.env.*
secrets/
*.json
refresh.json

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# test artifacts
refresh.json
firebase_idtoken.json
firebase_Testlogin.json
firebase_login.json
firebase_link.json